<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="jumbotron">
    <h1 class="display-3">Contact Us</h1>
    <p class="lead">If you need help in entering information or if you find an error, please contact us.</p>
    <hr class="my-4">
    <p>NPN Database<br>
        PO BOX 8989<br>
        Miami, FL, 33016<br>
        info@npndatabase.org<br>
    </p>
    <p class="lead">
        <!--
        <a class="btn btn-primary btn-lg" href="#" role="button">Email</a>
        -->
    </p>
</div>

</body>
</html>