<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>
<br>
<div class ="container">
<div th:object="${agency}">
    <h1  th:text="*{name}">Header</h1>
    <div >
        <h3  class="text-success" th:text="*{poc}">Primary card title</h3>
        <h5  th:text="*{address}"></h5>
        <h5  th:text="*{city}"></h5>
        <h5  th:text="*{email}"></h5> 
        <h5  th:text="*{website}"></h5>
        <h5  th:text="*{phone}"></h5>
        <br>
        <br>
        <h5  th:text="'Services: ' + *{services}"></h5>  
    </div>
</div>
</div>

</body>
</html>