<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: navigation"></div>
<br>
<div class = "container">
<form class>
    <fieldset>

    <div class="form-group">
        <label for="Select1" class="btn btn-primary">Categories</label>
        <select class="form-control" id="Select1">
            <th:block th:each="category : ${categories}">
            <option th:text="${category.name}">
            </th:block>
        </select>
    </div>
    <p>
    <button type="submit" class="btn btn-primary" form="Select1">Submit</button>
    </p>

    </fieldset>

    <fieldset>

        <div class="form-group">

            <label for="Select2" class="btn btn-primary">City</label>
            <select class="form-control" id="Select2">
                <th:block th:each="city : ${cities}">
                        <option th:text="${city.name}">
                </th:block>
            </select>

        </div>

        <p>
            <button type="submit" class="btn btn-primary" form="Select2">Submit</button>
        </p>


    </fieldset>

    <fieldset>

        <div class="form-group">
            <label for="Select3" class="btn btn-primary">Providers</label>
            <select class="form-control" id="Select3">
                <th:block th:each="agency : ${agencies}">
                        <option th:text="${agency.name}">
                </th:block>
            </select>
        </div>

        <p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </p>
    </fieldset>

</form>
</div>

</body>
</html>